hostname: {{ harbor_host }}
http:
  port: 80
https:
  port: 443
  certificate: /opt/harbor/ssl/harbor.crt
  private_key: /opt/harbor/ssl/harbor.key
harbor_admin_password: {{ harbor_password }}
database:
  password: password
data_volume: /data
log:
  level: info
  rotate_count: 50
  rotate_size: 200M
  location: /var/log/harbor
_version: 2.9.0
